/* BeltListDashboard */
.flexwrap {
  display: flex;
  flex-direction: row;
}

/* BeltList */
.beltlist-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ui.grey.button {
  background-color: #e0e1e2;
}

.ui.grey.button:hover {
  background-color: #cacbcd;
}