/* Header */
.header-nav {
  background-color: #f9f9f9;
}

/* Welcome */
.welcomeLogo-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* BeltListContainer */
.flexwrap {
  display: flex;
  flex-direction: row;
}

/* BeltList */
.beltlist-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2px;
}

.ui.grey.button {
  background-color: #e0e1e2;
}

.ui.grey.button:hover {
  background-color: #cacbcd;
}

.button.list-button {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* TechniqueList */
.techniquelist-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  max-height: 70vh;
  margin-top: 14px;
}

.ui.button.list-button {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* TechniqueContainer */
.techniquecontainer-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  height: 85vh;
  width: 100vw;
  margin-top: 20px;
}

/* Technique */
.directionalnav-flex {
  align-self: flex-end;
}

/* TechniqueCard */
.techniquecard {
  min-width: 65vw;
}

.ui.card>.content.technique-header {
  background-color: #f9f9f9;
}

.reactMarkdownContainer {
  text-align: left;
}

/* EditTechniqueModal */

.codeMirrorTechDesc {
  max-width: 500px;
}

.techVidPreview {
  margin-left: 10px;
}